<div class="leftPanel">
  <p>file info</p>
</div>
<div>
  <p>id: {{id}}</p>
  <p>name: {{name}}</p>
  <p>path: {{path}}</p>
  <p>size: {{size}}</p>
  <p>type: {{type}}</p>
  <p>savedata: {{lastModifiedDate}}</p>
</div>
